<!-- HTML do formulário de Login -->
<h1 class="text-center">SPA Gestão de Tarefa</h1>
<br>
<h2 class="text-center">Entrar</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group">
    <label>E-mail</label>
    <!-- Input para o e-mail -->
    <input class="form-control" type="email" name="email" id="email" [(ngModel)]="login.email" required>
  </div>
  <div class="form-group">
    <label>Senha</label>
    <!-- Input para a senha -->
    <input class="form-control" type="password" name="password" id="password" [(ngModel)]="login.password" required>
  </div>
  <!-- Botão de login, que só será habilitado se o usuário for válido -->
  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
  <button type="button" class="btn btn-link btn-block" [routerLink]="['/create-account']">Criar Conta</button>
</form>
